@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:wght@500&display=swap');

html {
    box-sizing: border-box;
    line-height: 1.5;
    overflow-x:hidden ;

  
  }
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
  }